*.log
*.tmp
*.swp
*.swo
*.DS_Store
*.bak
*.lock

Thumbs.db
.DS_Store

venv/
.env
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.o
*.a
*.out
*.class

.idea/
.vscode/
*.iml

*.dockerignore
Dockerfile
.docker/
docker-compose.yml

database/.pytest_cache/
database/__pycache__/
database/*.pyc

сpython/.pytest_cache/
cpython/__pycache__/
cpython/*.pyc

symlink/.pytest_cache/
symlink/__pycache__/
symlink/*.pyc


coverage/
.nyc_output/
test-results.xml
